*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.neomorf_flat{
    border-radius: 50px;
    background: #a09292;
    box-shadow:  13px 13px 26px #7a6f6f,
                 -13px -13px 26px #c6b5b5;
}

a{
    text-decoration: none;
    color: #000;
}

button{
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
}

input, button{
    border: none;
    outline:none;
}

body, html{
    height: 100%;
    background: #a09292;
    /* overflow: hidden; */
}

.app{
    /* width: 100%; */
    color: #000;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
}

.header_nav{
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.header_nav_title{
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 20px;;
    /* background-color: #000;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(122, 111, 111,0.5);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text; */
}

.header_nav_search{
    display: flex;
    height: 40px;
    /* width:40%; */
    flex-grow: 1;
}

.header_nav_search_btn{
    background-color: initial;
    /* border: none; */
    display: flex;
    align-items: center;
    padding: 0 5%;
}

.header_nav_search_inpt{
    /* border: none; */
    background-color: initial;
    flex-grow: 1;
}

.header_nav_menu{
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
}

.header_nav_menu > div{
    margin: 0 10px;
}

.header_nav_auth{
    /* width:15%; */
    display: flex;
    justify-content: space-between;
}

.header_nav_auth_btn{
    /* width:40%; */
    padding: 12px 20px;
    margin: 0 10px;
}

.main_info{
    margin: 80px 20px;
    height: 600px;
    position: relative;
}

.main_img_container{
    position: absolute;
    width: 100%;
    height: 600px;
}

.main_info_container{
    height: 600px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    position: relative;
    /* padding: 0 50px; */
    border-radius: 30px;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1465471736877-2c8bf4536ebf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1076&q=80");
}

.main_info_container::after{
    content: '';
    position: absolute;
    border-radius: 30px;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background: rgba(0, 0, 0, 0.3);
}

.main_info_text{
    /* top: 430px;
    left: 60px; */
    padding: 200px;
    font-size: 25px;
    margin: 0 auto;
    line-height: 2;
    position: relative;
    color: white;
}

/* .neomorf_pressed{
    border-radius: 50px;
    background: #a09292;
    box-shadow: inset 11px 11px 19px #7a6f6f,
                inset -11px -11px 19px #c6b5b5;
} */

@media screen and (max-width: 870px) {
    .header_nav_menu, .header_nav_auth {
        display: none;
    }
}